$main-text-color: #212832;
$heading-color: #181e4b;
$section-title-color: #14183e;
$dark-yellow: #f1a501;
$dark-orange: #df6951;
$purple: #5e6282;
$light-gray: #686d77;
$trip-widget-gray: #84829a;
$trip-widget-black: #080809;
