.subscribe {
  margin-bottom: calc($section-margin-bottom - 60px);
  background: url('../../assets/images/decor/pluses-decor-2.svg') no-repeat 93%
    100%;

  &__container {
    margin: 0 auto;
    padding-bottom: 60px;
  }

  &__content {
    position: relative;
    max-width: 1170px;
    min-height: 407px;
    padding: 92px 156px 75px;
    border-radius: 129px 20px 20px 20px;
    background: url('../../assets/images/decor/spiral-1.svg') no-repeat top
        right,
      url('../../assets/images/decor/spiral-2.svg') no-repeat -15% 100%, #f9f7fe;
  }

  &__title {
    margin-bottom: 4.625rem;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    font-size: 2.0625rem;
    line-height: 3.375rem;
    text-align: center;
    color: $purple;
  }

  &__plane-icon {
    position: absolute;
    top: -3%;
    right: -1%;
  }

  &__form {
    @include flex-center;
    gap: 1.5rem;
  }

  &__input-container {
    flex-grow: 1;
    @include flex-align-center;
    gap: 0 0.875rem;
    max-width: 421px;
    height: 68px;
    padding: 0 2rem;
    border-radius: 10px;
    background-color: #fff;
  }

  &__input {
    flex-grow: 1;
    padding: 7px 0;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.0625rem;
    color: #39425d;

    &:focus {
      border-bottom: 1px solid #39425d;
    }
  }

  &__submit {
    border: none;
    outline: none;
    padding: 22px 52px;
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    color: #fff;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.4375rem;
    cursor: pointer;
    transition: opacity 200ms ease-in;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }

  @media (max-width: 992px) {
    &__content {
      background: none;
      background-color: #f9f7fe;
    }
  }

  @media (max-width: 768px) {
    &__content {
      padding: 52px 56px 35px;
    }
    &__form {
      flex-direction: column;
      width: 100%;

      & > * {
        width: 100%;
      }
    }

    &__input-container {
      max-width: unset;
    }
  }

  @media (max-width: 576px) {
    &__content {
      padding: 26px 22px;
      border-radius: 10px;
    }

    &__plane-icon {
      scale: 0.7;
      top: -5%;
      right: -3%;
    }
  }
}
